<!-- ASIDE -->
<a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
</a >
<div id="inst54477" class="block_navigation  block hidden" role="navigation" data-block="navigation" data-instanceid="54477" aria-labelledby="instance-54477-header">
  <div class="header">
    <div class="title" id="yui_3_15_0_3_1599769363053_454">
    <div class="block_action">
      <!-- <img class="block-hider-hide " alt="Ocultar bloque Navegación" src="" title="Ocultar bloque Navegación"> -->
      <i class="fas fa-angle-up block-hider-hide" ></i>
      <!-- <img class="block-hider-show" alt="Mostrar bloque Navegación" src="" title="Mostrar bloque Navegación"> -->
      <i class="fas fa-angle-down block-hider-show"></i>
    </div>
    <h2 id="instance-54477-header">Menu Principal</h2>
  </div>
</div>
<div class="content">
  <div class="bd-toc-item">
    <!-- <a class="bd-toc-link" href="/docs/4.3/components/alerts/">
      Menu Principa
    </a> -->

    <ul class="nav bd-sidenav">
      <li>
          <a routerLink="/menup" >
            <i class="fa fa-home" aria-hidden="true"></i>
            TelcoMóvil
          </a>
        </li><li>
          <a routerLink="/guiasmovil" >
            <i class="fa fa-book" aria-hidden="true"></i>
            Guias
          </a>
        </li><li>
          <a routerLink="/pruebasmovil" >
            <i class="fa fa-cog" aria-hidden="true"></i>
            <!-- <i class="icon-clipboard" ></i> -->
            Pruebas
          </a>
        </li><li>
          <a routerLink="/home" >
            <i class="fa fa-cogs" aria-hidden="true"></i>
            <!-- <i class="icon-clipboard" ></i> -->
            Gestor Pruebas
          </a>
        </li>
         <!--  <li>
          <a href="/docs/4.3/components/buttons/">
            <i class="fa fa-users" aria-hidden="true"></i>
            Gestor Usuario
          </a>
        </li>
        <li>
          <a href="/docs/4.3/components/buttons/">
            <i class="fa fa-desktop" aria-hidden="true"></i>
            Maquinas
          </a>
        </li>-->
      </ul>
  </div>

</div>

</div>
