 <!-- Sidebar scroll-->
 <div class="scroll-sidebar">
  <!-- Sidebar navigation-->
  <nav class="sidebar-nav ">
      <ul id="sidebarnav">
          
          <li class="user-profile"> <a class="has-arrow waves-effect waves-dark" [routerLink]="['/home']"  aria-expanded="false"><img src="assets/telco/telcoIcon.png" alt="user" /><span class="hide-menu">Telco 2.0 </span></a>
          
              <ul aria-expanded="false" class="collapse">
                  <li><a [routerLink]="['/home']" target="_blank">Telco </a></li>
                  <!-- <li><a [routerLink]="['/home']" target="_blank">Proyectos</a></li> -->
                  <li><a [routerLink]="['/comunity']" target="_blank">Comunidad</a></li>
                  <li><a [routerLink]="['/contact']" target="_blank">Contacto</a></li>
                  <li><a [routerLink]="['/console']" target="_blank">Consola</a></li>
                  <li><a [routerLink]="['/home']" target="_blank">Salir</a></li>
              </ul>
          </li>
          <li class="nav-devider"></li>
          <li class="nav-small-cap">Telomóvil</li>

          <li> <a class="has-arrow waves-effect waves-dark" [routerLink]="['redmovil']"  routerLinkActive="active"    aria-expanded="false"><i class="mdi mdi-book-open-variant"></i><span class="hide-menu">Información </span></a>
            <ul aria-expanded="false" class="collapse ">
        
                <li>
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><span class="hide-menu">Redes4G </span></a>
                    <!-- https://es.wikipedia.org/wiki/Open_Source_IMS_Core -->
                    <ul aria-expanded="false" class="collapse">
                        <li><a [routerLink]="['information/servicios']"  routerLinkActive="active" >Arquitectura</a></li>
                        <li><a [routerLink]="['information/arquitectures']"  routerLinkActive="active" >Protocolos</a></li>                        
                    </ul>
                </li> 
                <li>
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><span class="hide-menu">Guias </span></a>
                    <!-- https://es.wikipedia.org/wiki/Open_Source_IMS_Core -->
                    <ul aria-expanded="false" class="collapse">
                        <li><a [routerLink]="['information/servicios']"  routerLinkActive="active" >Instalacion OAI</a></li>
                        <li><a [routerLink]="['information/arquitectures']"  routerLinkActive="active" >Escenarios</a></li>                        
                    </ul>
                </li> 
                <li>
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><span class="hide-menu">Foro </span></a>         
                </li>  
            </ul>  
        </li>  
          <li> <a class="has-arrow waves-effect waves-dark" [routerLink]="['testmovil']" routerLinkActive="active"  aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Pruebas </span></a>
              <ul aria-expanded="false" class="collapse ">
                  <li><a [routerLink]="['escenario1']" routerLinkActive="active" >Escenario 1</a></li>
                  <li><a [routerLink]="['escenario1']" routerLinkActive="active" >Escenario 2</a></li>

              </ul>
          </li>
          <li> <a class="has-arrow waves-effect waves-dark" [routerLink]="['gestorPruebas']" routerLinkActive="active"  aria-expanded="false"><i class="mdi mdi-chart-areaspline"></i><span class="hide-menu">GestorPruebas</span></a>
              <ul aria-expanded="false" class="collapse ">             
                  <li><a [routerLink]="['graph-new']" routerLinkActive="active" >Crear gráfica</a></li>               
              </ul>
          </li>
          
          
         
           
      </ul>
  </nav>
  <!-- End Sidebar navigation -->
</div>
<!-- End Sidebar scroll-->

