<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor"> {{titlePage}} </h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <!-- <li class="breadcrumb-item"><a target="_blank" [routerLink]="['/home']">Inicio</a></li> -->
            <li class="breadcrumb-item"><a [routerLink]="['/ims']">Telco IMS</a></li>
            <li *ngFor="let route of routePage" class="breadcrumb-item active" ><a [routerLink]="['/ims/'+route]" *ngIf="route != 'home'" >{{route}}</a></li>
        </ol>
    </div>
    <!-- <div class="">
        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
    </div> -->
</div>