<app-new-graph></app-new-graph>
<div class="container my-5">
    <div class="row">
        <div class="col">
            <h3>Gráficas</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum temporibus amet dicta veniam eaque autem officia! Ducimus recusandae facere tenetur deserunt. Laudantium omnis voluptas dolor minima aliquid numquam vel error?</p>
        </div>
        <div class="col">
            <div class="row">
                    <div class="col">
                      <a href="javascript:history.go(-1)" class="btn btn-outline-success mx-1"><i class="fas fa-arrow-left  fa-2x  "></i> <br> Atras</a>
                        <a [routerLink]="['/ims/reserved']" class="btn btn-outline-success mx-1"> <i class="fas fa-network-wired  fa-2x  "></i> <br> Arquitecturas</a>
                        <a [routerLink]="['/ims/tests']" class="btn btn-outline-success mx-1"> <i class="fas fa-clipboard-list  fa-2x  "></i> <br> Pruebas</a>
                        <!-- <a  class="btn btn-outline-primary mx-1"  data-toggle="modal" data-target="#modelId"><i class="fa fa-plus fa-2x"></i> <br> Crear Máquina</a> -->
                        <a  data-toggle="modal" data-target="#formNewGraph" class="btn btn-outline-info mx-1"><i class="fa fa-plus fa-2x"></i> <br> Nueva Gráfica</a>
                    </div>
            </div>
        </div>
    </div>
  <div class="row">
    <h5>Filtrar</h5>
    <div class="col">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Palabra clave" aria-label="Recipient's username" aria-describedby="button-addon2">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>Listar </option>
                <option>Hosts</option>
                <option>Arquitecturas</option>
                <option>Fecha</option>
                <option>Todos</option>
            </select>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
            </div>
          </div>
    </div>
    <div class="col">
      <h6>Filtros</h6>
    </div>
  </div>
  <div class="container" *ngFor="let arquitecture of arquitectures">
    <a  [routerLink]="['/ims/graphics/'+arquitecture._id+'/arquitecture']">{{arquitecture.name}}</a>
    
    <!-- {{arquitecture.vmAditionals}} -->
    
    <div class="row" *ngFor="let vm of arquitecture.vmAditionals">
      <a  [routerLink]="['/ims/graphics/'+vm._id+'/server']">{{vm.name}}</a>
      
      <div class="card-columns">

        <div class="card text-center" *ngFor="let graph of vm.graphs">
          <a  [routerLink]="['/ims/graph/'+graph._id]">
          <div class="card-body">
            <app-graph-template [idGraph]="graph._id"></app-graph-template>
            <!-- <h5 class="card-title">{{graph.name}}</h5>
            <canvas id="graph2" baseChart
            [datasets]="graph.print.data"
            [labels]="graph.print.labels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins">
          </canvas> -->
            <p class="card-text"><small class="text-muted">Creada {{graph.created_at}}</small></p>
          </div>
        </a>
        </div>
       
      </div>
   
    </div>
    <div class="row" *ngFor="let vmCore of arquitecture.vmCoreIMS">
      <a  [routerLink]="['/ims/graphics/'+vmCore._id+'/server']">{{vmCore.name}}</a>
      
      <div class="card-columns">

        <div class="card text-center" *ngFor="let graph of vmCore.graphs">
          <a  [routerLink]="['/ims/graph/'+graph._id]">
          <div class="card-body">
            <app-graph-template [idGraph]="graph._id"></app-graph-template>
            <!-- <h5 class="card-title">{{graph.name}}</h5>
            <canvas id="graph" baseChart
            [datasets]="graph.print.data"
            [labels]="graph.print.labels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins">
          </canvas> -->
            <p class="card-text"><small class="text-muted">Creada {{graph.created_at}}</small></p>
          </div>
        </a>
        </div>
       
      </div>
    
    </div>
  </div>

  <!-- <div class="row">
    <div style="width: 300px;">
        <canvas baseChart width="40" height="40"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas>
    </div>
    <div style="width: 300px;">
        <canvas baseChart width="40" height="40"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas>
    </div>
    <div style="width: 300px;">
        <canvas baseChart width="40" height="40"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas>
    </div>

    </div> -->
    
      
</div>