<app-new-graph></app-new-graph>
<div class="container my-5">
    <div class="row">
        <div class="col">
            <h3>Gráficas</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum temporibus amet dicta veniam eaque autem officia! Ducimus recusandae facere tenetur deserunt. Laudantium omnis voluptas dolor minima aliquid numquam vel error?</p>
        </div>
        <div class="col">
            <div class="row">
                    <div class="col">
                      <a href="javascript:history.go(-1)" class="btn btn-outline-success mx-1"><i class="fas fa-arrow-left  fa-2x  "></i> <br> Atras</a>
                        <a [routerLink]="['/ims/reserved']" class="btn btn-outline-success mx-1"> <i class="fas fa-network-wired  fa-2x  "></i> <br> Arquitecturas</a>
                        <a [routerLink]="['/ims/tests']" class="btn btn-outline-success mx-1"> <i class="fas fa-clipboard-list  fa-2x  "></i> <br> Pruebas</a>
                        <!-- <a  class="btn btn-outline-primary mx-1"  data-toggle="modal" data-target="#modelId"><i class="fa fa-plus fa-2x"></i> <br> Crear Máquina</a> -->
                        <a  data-toggle="modal" data-target="#formNewGraph" class="btn btn-outline-info mx-1"><i class="fa fa-plus fa-2x"></i> <br> Nueva Gráfica</a>
                    </div>
            </div>
        </div>
    </div>
  <!-- <div class="row">
    <h5>Filtrar</h5>
    <div class="col">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Palabra clave" aria-label="Recipient's username" aria-describedby="button-addon2">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>Listar </option>
                <option>Hosts</option>
                <option>Arquitecturas</option>
                <option>Fecha</option>
                <option>Todos</option>
            </select>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
            </div>
          </div>
    </div>
    <div class="col">
      <h6>Filtros</h6>
    </div>
  </div> -->
  <div class="container" *ngIf="arquitectures; else await">
    <div class="container" *ngFor="let arquitecture of arquitectures">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white mb-3 mt-3">
             <a  [routerLink]="['/ims/graphics/'+arquitecture._id+'/arquitecture']"><i class="fa fa-network-wired" aria-hidden="true"> {{arquitecture.name}}</i></a>
      </nav>
  
      
      <!-- {{arquitecture.vmAditionals}} -->
      <div *ngIf="arquitecture.vmAditionals.length > 0 ">
        <div class="container" *ngFor="let vm of arquitecture.vmAditionals">
          <div class="d-flex justify-content-center border-bottom mb-1">        
          <a  class="mx-auto mt-3" [routerLink]="['/ims/graphics/'+vm._id+'/server']"> <i class="fa fa-laptop">-{{vm.name | uppercase}}</i></a>
            <hr>
          </div>
          
          
          <div class="card-columns" *ngIf="vm.graphs.length > 0; else noGraphs">
          
            
            <div class="card text-center" *ngFor="let graph of vm.graphs">
              <a  [routerLink]="['/ims/graph/'+graph._id]">
              <div class="card-body">
                <app-graph-template [idGraph]="graph._id"></app-graph-template>
                <!-- <h5 class="card-title">{{graph.name}}</h5>
                <canvas id="graph2" baseChart
                [datasets]="graph.print.data"
                [labels]="graph.print.labels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins">
              </canvas> -->
                <p class="card-text"><small class="text-muted">Creada {{graph.created_at}}</small></p>
              </div>
            </a>
            </div>
          
          </div>
         
      
        </div>
      </div>
      

      <div class="container" *ngIf="arquitecture.vmCoreIMS.length > 0 ">
        <div class="container" *ngFor="let vmCore of arquitecture.vmCoreIMS">
          
          <div class="d-flex justify-content-center border-bottom mb-1">        
          <a  class="mx-auto mt-3" [routerLink]="['/ims/graphics/'+vmCore._id+'/server']"> <i class="fa fa-laptop">-{{vmCore.name | uppercase}}</i></a>
            <hr>
          </div>
          
          <div class="card-columns" *ngIf="vmCore.graphs.length > 0; else noGraphs">
    
            <div class="card text-center" *ngFor="let graph of vmCore.graphs; let i = index">
              <a  [routerLink]="['/ims/graph/'+graph._id]">
              <div class="card-body">
                <app-graph-template [idGraph]="graph._id"></app-graph-template>
                <!-- <h5 class="card-title">{{graph.name}}</h5>
                <canvas id="graph" baseChart
                [datasets]="graph.print.data"
                [labels]="graph.print.labels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins">
              </canvas> -->
                <p class="card-text"><small class="text-muted">Creada {{graph.created_at}}</small></p>
              </div>
            </a>
            </div>
          
          </div>
          <ng-template #noGraphs>
            <div class="container">
              ¡Esta máquina virtual no tiene graficas!
            </div>  
          </ng-template>
        </div>
      </div>

    </div>
   
  </div>
  <ng-template #await>
    <div class="spinner-border m-5" role="status">
        <span class="sr-only">Loading...</span>
        </div>
    </ng-template>


  <!-- <div class="row">
    <div style="width: 300px;">
        <canvas baseChart width="40" height="40"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas>
    </div>
    <div style="width: 300px;">
        <canvas baseChart width="40" height="40"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas>
    </div>
    <div style="width: 300px;">
        <canvas baseChart width="40" height="40"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas>
    </div>

    </div> -->
    
      
</div>