<div class="container">
  <section class="section contenido">
    <!-- CONTENIDO -->
    <div class="seccion-contenido">
      <div class="region region-content">
        <div id="block-system-main">
          <div>
            <div class="titulo">Gestor de Pruebas</div>
            <p></p>
            <div class="field field-name-field-resumen-programa field-type-text-long field-label-hidden">
              <div class="field-items">
                <div class="field-item even">
                  <div class="info-principal">
                    <ngb-accordion>                     
                      <ngb-panel>
                        <ng-template ngbPanelHeader id="accor-header">                                       
                          <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0">
                             <div class="col d-flex justify-content-between align-items-center">                                                         
                              maquina oai 2 
                                    <a><i id="flecha" class="fas fa-angle-down rotate-icon"></i></a>    
                        </div>
                          </button>
                        </ng-template>
                        <ng-template ngbPanelContent>
                          <table class="table table-striped">
                            <thead>
                            <tr class="table-sup">
                              <th scope="col">Nro.</th>
                              <th scope="col">Tipo Prueba</th>
                              <th scope="col">BW</th>
                              <th scope="col">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td> Escenario 1</td>
                              <td>10</td>
                              <td> 
                                
                                <a class="icon-col-con" [routerLink]="['/telcomovil/resultados']" routerLinkActive="active"><i class="fas fa-chart-bar"></i></a>
                                <a class="icon-col"><i class="fas fa-file-download"></i></a>
                                <a class="icon-col"><i class="fas fa-trash-alt"></i></a>
                              </td> 
                            </tr>
                            <tr>
                              <th scope="row">2</th>
                              <td>Escenario 1</td>
                              <td>20</td>
                              <td>                                 
                                <a class="icon-col-con" [routerLink]="['/telcomovil/resultados']" routerLinkActive="active"><i class="fas fa-chart-bar"></i></a>
                                <a class="icon-col"><i class="fas fa-file-download"></i></a>
                                <a class="icon-col"><i class="fas fa-trash-alt"></i></a>
                              </td> 
                            </tr>
                            </tbody>
                          </table>

                        </ng-template>
                      </ngb-panel>
                      <ngb-panel>
                        <ng-template ngbPanelHeader id="accor-header">                                       
                          <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0">
                             <div class="col d-flex justify-content-between align-items-center">                                                         
                              maquina oai 2 
                                    <a><i id="flecha" class="fas fa-angle-down rotate-icon"></i></a>    
                        </div>
                          </button>                

                        </ng-template>
                        <ng-template ngbPanelContent>
                          <table class="table table-striped">
                            <thead>
                            <tr class="table-sup">
                              <th scope="col">Nro.</th>
                              <th scope="col">Tipo Prueba</th>
                              <th scope="col">BW</th>
                              <th scope="col">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td> Escenario 1</td>
                              <td>10</td>
                              <td> 
                                
                                <a class="icon-col-con"  [routerLink]="['/resultados']" routerLinkActive="active"><i class="fas fa-chart-bar"></i></a>
                                <a class="icon-col"><i class="fas fa-file-download"></i></a>
                                <a class="icon-col"><i class="fas fa-trash-alt"></i></a>
                              </td> 
                            </tr>
                            <tr>
                              <th scope="row">2</th>
                              <td>Escenario 1</td>
                              <td>20</td>
                              <td>                                 
                                <a class="icon-col-con" [routerLink]="['/resultados']" routerLinkActive="active"><i class="fas fa-chart-bar"></i></a>
                                <a class="icon-col"><i class="fas fa-file-download"></i></a>
                                <a class="icon-col"><i class="fas fa-trash-alt"></i></a>
                              </td> 
                            </tr>
                            </tbody>
                          </table>

                        </ng-template>
                      </ngb-panel>

                    </ngb-accordion>

                  </div>
                  <div>
                  </div>
                </div>
              </div>
            </div>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>



<!-- <ngb-accordion>
  <ngb-panel>
    <ng-template ngbPanelTitle>
      <h1 class="accordi-plan">Plano de usuario:
      </h1>
    </ng-template>
    <ng-template ngbPanelContent>
      <p>tiene como foco el intercambio de datos que genera el usuario cuando está en la trasmisión de información con
        el sistema LTE. Los protocolos encargados de la transferencia de datos entre UE y el eNB son: PDCP (PacketData
        Control Protocol), RLC (Radio Link Control)y MAC(Medium AccessControl). La interfaz encargada de la
        transferencia de datos entre el eNB y el UE es la interfaz Uu. Los protocolos encargados de la transferencia de
        datos entre el eNB y EPC son: GTP (GPRS Tunneling Protocol)basado en el protocolo IP para el nivel de red y UDP
        (User Datagram Protocol) para elnivel de transporte. La arquitectura de los protocolos del plano de usuario
        puede observarse en la Figura 2.5
      </p>
      <div class="lte-img">
        <img class="center-block" src="/assets/telcomovil/img/arqm-pro1.png" alt="">
        <span>Figura 2.5 Plano de usuario</span>
      </div>

    </ng-template>
  </ngb-panel> -->