

    <div class="row">
        <span>Usa la guia para conocer acerca de las pruebas en TELCO IMS.</span>
    </div>
<div class="row m-2">
    <div class="m-auto">
       
        <div class="row">
                <!-- <div *ngIf="showGuides" class="">
                    
                </div> -->
                
                <div class="mx-3">
                    
                    <div class="row m-auto">
                        
                        <button class="btn btn-block btn-outline-info m-auto" *ngIf="!showGuides" (click)="showGuide()">--Guía--</button>
                        <button class="btn btn-outline-info m-auto" *ngIf="showGuides" (click)="hideGuide()">Ocultar guía</button>
                    </div>
                    
                </div>
            
            <div *ngIf="showGuides">
    
                <!-- <button class=""><i class="fa fa-arrow-circle-right" aria-hidden="true" (click)="addIndex()" ></i></button> -->
            </div>
                
    
            
        </div>
    </div>
    
    
</div>
<div class="container" *ngIf="showGuides">
    
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active" >
              <div class="row" >
                  <div class="col-4">
                   <h3>Pruebas en Telco IMS</h3>
                    Al crear una prueba, lo que se hace es definir el tipo de mensajes que enviara el usuario simulado y las respuestas que espera del servidor.
                   
                  </div>
                  <div class="col-8">
                    <textarea name="" id=""  cols="40" rows="10">
    <?xml version="1.0" encoding="ISO-8859-1" ?>
    <!DOCTYPE scenario SYSTEM "sipp.dtd">
    
    <scenario name="Call Load Test">
    
    <User variables="my_dn,peer_dn,call_repeat" />
    <nop hide="true">
        <action>
        
            <assignstr assign_to="my_dn" value="[field0]" />
            <assignstr assign_to="peer_dn" value="[field2]" />
            <assign assign_to="reg_repeat" value="0"/>
            <assign assign_to="call_repeat" value="0"/>
        </action>
    </nop>
    
    <pause distribution="uniform" min="1000" max="5000" />
                        
                    </textarea>
                  </div>
              </div>
            
          </div>
          <div class="carousel-item" *ngFor="let slide of guides" >
              <div class="row" >
                  <div class="col-4">
                    <h3> {{slide.name}} </h3>
                    {{slide.description}}
                    <img  class="img-fluid img-thumbnail d-block w-100" src="assets/ims/guideTest/{{ slide.image }}" alt="First slide" style="height: 300px;">
                  </div>
                  <div class="col-8 " ng-app="">
                      <textarea name="" id="" style="width: 100%; height: 100%;" >{{ slide.codeText }}</textarea>
                  </div>
              </div>
          </div>      
        </div>
        
        <a class="carousel-control-prev bg-secondary" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next bg-secondary " href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Siguiente</span>
        </a>
    </div>
</div>


<form (ngSubmit)="createTest()" [formGroup]="formNewTest" novalidate class="mt-4">
    <span>Formulario para crear prueba</span>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" name="name" formControlName="name"  class="form-control">
            </div>
            <div class="form-group">
                <label for="idArquitecture">Arquitectura</label>
                <select name="idArquitecture" formControlName="idArquitecture" class="form-control" (change)="updateServers()">
                    <option value="" selected>Elegir...</option>
                    <option *ngFor="let arq of arquitectures" [value]="arq._id">{{arq.name}}</option>
                </select>
            </div>  
        </div>
        <div class="col">
            <div class="form-group">
                <label for="name">Descripción</label>
                <textarea class="form-control" name="description" formControlName="description"  rows="7">
                </textarea>
            </div>
        </div>
    </div>
       
       
      
             
        <div class="form-group">
            <label for="graphsRelationship">Gráficas a relacionar</label>
               <div class="bg-white">
                   <angular2-multiselect [data]="dropdownList" name="graphsRelationship" [(ngModel)]="selectedItems" 
                       [settings]="dropdownSettings" 
                       (onSelect)="onItemSelect($event)" 
                       (onDeSelect)="OnItemDeSelect($event)"
                       (onSelectAll)="onSelectAll($event)"
                       (onDeSelectAll)="onDeSelectAll($event)" formControlName="graphsRelated"></angular2-multiselect>
               </div>
        </div>
        <div class="form-group">
            <label for="contentFile">Código XML de la prueba</label>
            <textarea class="form-control" name="contentFile" rows="15" formControlName="contentFile"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-primary">Crear</button>
            <!-- <input type="submit" class="btn btn-outline-danger" value="Cancelar"> -->
            <a class="btn btn-secondary mx-3" href="javascript:history.back()"> Atras</a>
        </div>
    
        
    
</form>



<br>





<!-- <app-guide-test></app-guide-test> -->


