<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['home']"> <img class="img-fluid" src="../../../../assets/telcoLogo.png" alt="Telco" style="max-height: 50px;"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link" [routerLink]="['home']">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['about']">Nosotros</a>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle" [routerLink]="['proyects']" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Proyectos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <a class="dropdown-item" [routerLink]="['ims']">IMS</a>
            <a class="dropdown-item" href="#">Móvil 4G</a>
            <a class="dropdown-item" href="#">Mininet</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item disabled" href="#" aria-disabled="true" title="Proximamente">Móvil 5G</a>
          </div>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle" [routerLink]="['comunity']" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Comunidad
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <a class="dropdown-item" [routerLink]="['ims']">Pre-Grado</a>
            <a class="dropdown-item" href="#">Maestria</a>
            <a class="dropdown-item" href="#">Doctorado</a>
            <a class="dropdown-item" href="#">Doctorado</a>
            <a class="dropdown-item" href="#">Pos-Doctorado</a>
            <a class="dropdown-item" href="#">Investigadores</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item disabled" href="#" aria-disabled="true">Invitados</a>
          </div>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['contact']" tabindex="-1">Contacto</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['console']" tabindex="-1">Consola</a>
        </li>
      </ul>
      <div class="input-group-append">
          <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="Buscar..." placeholder="Search" aria-label="Search" hidden>
              <button class="btn "><i class="fa fa-search fa-2x text-white" ></i></button>
          </form>
      </div>
      <div class="dropdown">
          <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user-circle fa-2x text-white"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" [routerLink]="['politics']"><small class="m-auto">Politicas de uso</small></a>
            <a class="dropdown-item" [routerLink]="['count']">Cuenta</a>
            <a class="dropdown-item" href="#">Salir</a>
          </div>
      </div>
    </div>
    
    
  </nav>
  