<div class="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Telco 2.0</p>
    </div>
</div>
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <app-header-telco></app-header-telco>
      <!-- ============================================================== -->
      <!-- End-Main wrapper - style you can find in pages.scss -->
      <!-- ============================================================== -->

      <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper-telco ">

            <div class="container-fluid ">
                <app-breadcrumbs-telco></app-breadcrumbs-telco>
                <router-outlet></router-outlet>
            </div>
        </div>
</div>