<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <app-header-telco></app-header-telco>
      <!-- ============================================================== -->
      <!-- End-Main wrapper - style you can find in pages.scss -->
      <!-- ============================================================== -->

      <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper-telco ">

            <div class="container-fluid r-aside">
                <app-breadcrumbs-telco></app-breadcrumbs-telco>
                <router-outlet></router-outlet>
            </div>
        </div>
</div>