
    
    <div class="dropdown-menu dropdown-menu-right animated flipInY">
        <ul class="dropdown-user">
            <li>
                <div class="dw-user-box">
                    
                    <div class="u-img"> <i class="fa fa-user-circle fa-4x" aria-hidden="true"></i> </div>
                    <div class="u-text">
                        <h4> {{user.name}} </h4>
                        <p class="text-muted"> {{user.email}} </p><a href="pages-profile.html" class="btn btn-rounded btn-danger btn-sm">View Profile</a></div>
                </div>
            </li>
            <li role="separator" class="divider"></li>
            <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
            <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
            <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/home" (click)="logout()"><i class="fa fa-power-off"></i> Salir</a></li>
            
        </ul>
        
    </div>
