<div class="container my-5">
        <div class="row">
            <div class="col">
                <h3>Arquitecturas disponibles</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum temporibus amet dicta veniam eaque autem officia! Ducimus recusandae facere tenetur deserunt. Laudantium omnis voluptas dolor minima aliquid numquam vel error?</p>
            </div>
            <div class="col">
                <div class="row">
                        <div class="col">
                            <a [routerLink]="['/ims/reserved']" class="btn btn-outline-success mx-1"> <i class="fas fa-network-wired  fa-2x  "></i> <br> Reservadas</a>
                            <a [routerLink]="['/ims/tests']" class="btn btn-outline-success mx-1"> <i class="fas fa-clipboard-list  fa-2x  "></i> <br> Pruebas</a>
                            <a [routerLink]="['/ims/graphics']" class="btn btn-outline-success mx-1"><i class="fa fa-bar-chart fa-2x"></i> <br> Gráficas</a>
                        </div>
                        
                </div>
            </div>
        </div>
    <div>
            <div class="card-columns">
                    <div *ngFor="let arq of arquitectures_free" class="card">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">{{ arq.name }}</h5>
                        <p class="card-text">{{arq.description}}</p>
                        <p class="card-text">Capacidad para agregar {{ arq.propertiesAditionalVM }} maquinas virtuales de {{ arq.propertiesAditionalRAM }} Gb RAM, {{ arq.propertiesAditionalHDD }} HDD y {{arq.propertiesAditionalCORE }} procesdores</p>
                        <p *ngIf="arq.available" class="card-text">
                            <button class="btn btn-outline-primary">Reservar</button>
                            <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
                        </p>
                        <p *ngIf="!arq.available" class="card-text">
                            <small class="text-muted">Reservado hasta {{ arq.dataEndReservation }} </small>
                        </p>
                      </div>
                    </div>
                    
            </div>
    </div>
</div>