<div class="container my-5">
        <div class="row">
            <div class="col">
                <h3>Arquitecturas disponibles</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum temporibus amet dicta veniam eaque autem officia! Ducimus recusandae facere tenetur deserunt. Laudantium omnis voluptas dolor minima aliquid numquam vel error?</p>
            </div>
            <div class="col">
                <div class="row">
                        <div class="col">
                            <a [routerLink]="['/ims/reserved']" class="btn btn-outline-success mx-1"> <i class="fas fa-network-wired  fa-2x  "></i> <br> Reservadas</a>
                            <a [routerLink]="['/ims/tests']" class="btn btn-outline-success mx-1"> <i class="fas fa-clipboard-list  fa-2x  "></i> <br> Pruebas</a>
                            <a [routerLink]="['/ims/graphics']" class="btn btn-outline-success mx-1"><i class="fa fa-bar-chart fa-2x"></i> <br> Gráficas</a>
                        </div>
                        
                </div>
            </div>
        </div>  
    <div>
        <div class="card-columns">
            <div *ngFor="let arq of arquitectures" class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ arq.name }}</h5>
                <small>{{arq.domain}}</small>
                <p class="card-text">Arquitectura IMS tipo {{arq.type}}, Capacidad extra para {{ arq.maxVM }} maquinas virtuales con {{ arq.maxRAM }} Gb de RAM, {{ arq.maxHDD }} Gb de HDD y {{arq.maxCore }} procesdores</p>
                <p *ngIf="arq.status == 'public'" class="card-text">
                    <button class="btn btn-outline-primary" (click)="reserve(arq._id)">Reservar</button>
                    <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
                </p>
                <p *ngIf="arq.status != 'public'" class="card-text">
                    <small class="text-muted"> Arquitectura Reservada </small>
                </p>
              </div>
            </div>
            
    </div>
    </div>
</div>
