<div class="container-fluid">
    <div class="col-sm-12 text-left" >
        <h1>INFRAESTRUCTURA</h1>
        <div>
            <p>La plataforma Telco 2.0 es una infraestructura fisica de la Facultad de Ingenieria Electronica 
                y Telecomunicaciones <b>(FIET)</b> de la Universidad del Cauca destinada para la investigación 
                e innovación de servicios de Telecomunicaciones en la nube, cuyo propósito es convertirse en uno 
                de los centros de investigación tecnológico más importantes de la región. En particular, esta plataforma 
                brinda servicios de gestión, almacenamiento y procesamiento de recursos virtuales que son 
                alojados en instancias de máquinas virtuales.</p>
        </div>
        <div>
                <img src="assets/ims/Telco.JPG" alt="plataforma Telco"  class="center" hspace="10" vspace="10">
                <figcaption style="text-align: center; color: black;"><b>Fig. 1</b> infraestructura Plataforma Telco</figcaption>
        </div>
        <br>
        <div>
            <p>Actualmente, el  laboratorio Telco 2.0 tiene 5 servidores Blade Hewlett-Packard. 3 de ellos con 128 GB de RAM, 2 procesadores de 12 núcleos cada uno y almacenamiento de 300 GB.  Asimismo, 2 servidores con 256 GB de RAM, 2 procesadores de 14 núcleos cada uno y almacenamiento de 480 GB.  Igualmente, cuenta con unidades de almacenamiento MSA de un total de 23,6 TB. En la Figura <b>1</b> se puede observar la infraestructura física de la plataforma Telco 2.0.</p>  
        </div>    
    </div>
</div>