<div class="logo">
    <a href="http://www.unicauca.edu.co/versionP">
      <img src="assets/img/unicaucalogoAz.png" alt="Unicauca">
    </a>
    <a>
      <div id="titulo-logo">
        <span>
          Facultad de Ingenierías
          <br>
          TelcoMóvil
        </span>
      </div>
    </a>
  </div>
  <nav id="main-menu" class="menu navbar navbar-expand-lg">

    <div class="social-bar">
      <div class="social">
        <div class="icons">
          <a target="_blank">
            <img src="assets/img/facebook.png" alt="">
          </a>
          <a target="_blank">
            <img src="assets/img/instagram.png" alt="">
          </a>
          <a target="_blank">
            <img src="assets/img/twiter.png" alt="">
          </a>
        </div>
        <div class="region region-menu-principal">
            <div>
                <div id="search-block-form">
                  <div class="container-inline">

                      <button id="edit-submit--2" type="button" class="btn btn-login d-lg-inline-block mb-3 mb-md-0 ml-md-3" >
                        <i class="fa fa-user-circle" aria-hidden="true"></i> Login
                      </button>
                      <!-- <a class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="/docs/4.3/getting-started/download/">Download</a> -->
                  </div>
                </div>
            </div>
        </div>
      </div>
      <!-- collapse -->
      <div class="menu_menu">
        <div class="region region-main-menu">
          <div class="region region-menu-principal">
            <div id="block-superfish-18" class="blockK block-superfish">
              <div>
                <div class="sf-accordion-toggle sf-style-white">
                  <a href="#" id="superfish-18-toggle">
                    <span></span>
                  </a>
                </div>

                <ul id="superfish-1" class="menu sf-menu sf-main-menu sf-horizontal sf-style-white superfish-processed sf-js-enabled" >
                  <li id="menu-449-1" class="first sf-depth-1 menuparent">
                    <a routerLink="/home"  class="sf-depth-1 menuparent">Inicio
                    </a>
                  </li>
                  <li id="menu-219-1" menu-219-1 class="middle sf-depth-1 menuparent">
                    <a routerLink="/menup" class="sf-depth-1 menuparent"> TelcoMóvil
                    </a>
                  </li>
                  <li id="menu-450-1" class="middle sf-depth-1 menuparent">
                    <a routerLink="/pruebasmovil"  class="sf-depth-1 menuparent">Pruebas</a>
                  </li>
                  <li id="menu-451-1" class="middle sf-depth-1 menuparent">
                    <a routerLink="/guiasmovil" class="sf-depth-1 menuparent">Guias</a>
                  </li>
                  <li id="menu-451-1" class="middle sf-depth-1 menuparent">
                    <a routerLink="/redesmovil" class="sf-depth-1 menuparent">Redes 4G</a>
                  </li>
                </ul>
                  </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

 <!-- termina el componente header -->


