<div class="card-columns">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Prueba 1</h5>
          <p class="card-text">Prueba para realizar register</p>
          <div class="row">
              <div class="col">
                  <button class="btn btn-warning mr-auto">Ejecutar</button>

              </div>
              <div class="col">
                  <button class="btn btn-success ml-auto">Acceder</button>
              </div>
          </div>
        </div>
    </div> 

  </div>