<div class="row my-3" >
    <a class="btn btn-primary" [routerLink]="['/ims/test-new']">Crear prueba</a>
  </div>
<div *ngIf="arquitectures; else await" class="container my-5">

       
             
            <div class="row" *ngIf="arquitectures.length >=1; else noArqs">
               

                 <div class="container" *ngFor="let arq of arquitectures; let iArq = index">
                
                        <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white mb-3 mt-3">
                            <i class="fa fa-network-wired" aria-hidden="true">  Arquitectura {{arq.name}}</i>
                        </nav>
                        <div class="card-columns">
                            <div *ngIf="arq.tests.length==0">
                                ¡No hay pruebas!
                            </div>
                            <div *ngFor="let test of arq.tests; let i = index" class="card ribbon-wrapper   bg-ligth mb-3" style="max-width: 18rem;" >
                                <div  *ngIf="test.status == 'running'"  class="ribbon ribbon-bookmark ribbon-right ribbon-danger">Ejecutando</div>
                                <div class="card-header">{{test.name }} 
                                    
                                    <!-- <div class="spinner-grow text-success" role="status" *ngIf="test.status == 'running'" > -->
                                        <!-- <span class="sr-only">Loading...</span> -->
                                    <!-- </div> -->
                                </div>
                                <div class="card-body">
                                <h5 class="card-title">Tipo:{{test.type}}</h5>
                                <p class="card-text">{{test.description}}</p>
                                <a [routerLink]="['/ims/tests/'+test._id]" class="btn btn-primary mr-2">Ver más...</a>
                                <button *ngIf="test.status=='running'; else run" (click)="stopTest(test._id,i,iArq)" class="btn btn-outline-warning">Detener</button>
                                <ng-template #run>
                                    <button class="btn btn-outline-success" (click)="executeTest(test._id,i,iArq)">Ejecutar</button>
                                    </ng-template>
                                    <button class="btn btn-outline-danger ml-2" (click)="deleteTest(test._id,i,iArq)"> <i class="fa fa-trash" aria-hidden="true"></i> </button>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <ng-template #noArqs>
                <div class="row">

                    Reservar arqutiectura
                </div>
              </ng-template>


        

</div> 
<ng-template #await>
    <div class="d-flex justify-content-center container">

        <div class=" spinner-border m-5" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-template>