<div class="container">
    <section class="section contenido">
      <!-- CONTENIDO -->
      <div class="seccion-contenido">
            <div class="region region-content">
              <div id="block-system-main">                
                  <div class="titulo">Gestor de Maquinas</div>                                             
                           
                            <!-- <p><code>Maquinas OAI</code></p> -->
<div class="row">
    <div class="col d-flex justify-content-end">    
            <button class="btn btn-fig mb-2 mr-2"><i class="fas fa-plus-circle"></i>  Crear MV </button>                     
    </div> 
</div>
<!-- tabla de la gestion de las maquinas virtuales -->
<div>
  <table class="table table-striped">
    <thead>
    <tr class="table-sup">
      <th scope="col">Nro.</th>
      <th scope="col">Maquina Virtual</th>
      <th scope="col">Información</th>
      <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>maquina oai 1</td>
      <td>ip 10.0.0.0</td>
      <td> 
        
        <a class="icon-col-con"><i class="fas fa-terminal"></i></a>
        <a class="icon-col"><i class="fas fa-expand-arrows-alt"></i></a>
        <a class="icon-col"><i class="fas fa-trash-alt"></i></a>
      </td> 
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>maquina oai 2</td>
      <td>ip 10.0.0.0</td>
      <td> 
        
        <a class="icon-col-con"><i class="fas fa-terminal"></i></a>
        <a class="icon-col"><i class="fas fa-expand-arrows-alt"></i></a>
        <a class="icon-col"><i class="fas fa-trash-alt"></i></a>
      </td> 
    </tr>
    </tbody>
  </table>

</div>
 
    
      </div>
    </div>
  </div>
  </section>
</div>  