<!--script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="reserved.component.js"></script-->

<!--span class="bajar icon-arrow-up2"></span-->
<div class="row">

    <div class="col-sm-5 text-left">
        <h3>Arquitectura Reservadas</h3>
        <div>
            <p> En esta sección se proveen recursos de almacenamiento y procesamiento para acceder 
                a arquitecturas de VM orquestadas sobre Openstack. Específicamente, los usuarios 
                pueden solicitar la arquitectura de Clearwater IMS visualizada en la 
                figura <b>1</b>.
            </p>
        </div>
        <h3>Reservacion de arquitecturas</h3>
        <div>
            <p> El acceso a las arquitecturas de VM es realizado por medio de un terminal de comandos en la web que permite 
                su configuración. Asimismo,  el consumo de recursos de las VM es 
                monitoreado en la sección de gráficas para verificar el rendimiento y calidad 
                del servicio del sistema.   
            </p>
        </div>
    </div>
    <div class="col-sm-7 text-left">   
        <a href="assets/ims/clearwater.JPG" target="_blank">
            <img src="assets/ims/clearwater.JPG" alt="plataforma Telco"  class="center" >
            <figcaption><b>Fig. 1</b> Clearwater IMS Architecture</figcaption>
        </a>
    </div> 
    <div class="col-sm-5 text-left" *ngIf="arquitectures.length == 0">
        <h5>Actualmente no tiene recursos reservados</h5>
       <a style="font-size: 20px;" [routerLink]="['/ims/available']" > <button type="button"  class="btn btn-outline-success mx-1"> Reservar Arquitectura</button></a>
   </div>
   <div class="col-sm-5 text-left" *ngIf="arquitectures.length >= 1">
    <h5>Visualice las arquitecturas Reservadas<button type="button" style="align-content: center;" class="btn btn-outline-success mx-1"><i class="fa fa-angle-double-down"></i></button></h5>
    </div>
</div>
<hr>

<div class="container">
    <div class="col-sm-12 text-left">
        <div class="contenido"> 
          <div *ngIf="arquitectures; else await" >
              <!--div class="row" *ngIf="arquitectures.length == 0">
                  Actualmente no tiene recursos reservados.
                 <a [routerLink]="['/ims/available']" > Reservar Arquitectura</a>
             </div-->
              <div class="card-columns col-sm-9">
                  <div *ngFor="let arq of arquitectures" class="card">
                      <div *ngIf="arq.type==1; else other" style="width: 12rem;" >
                          <img src="/assets/ims/server.png" class="card-img-top" alt="...">
                        </div>
                        <ng-template #other>
                          <img src="/assets/ims/Clearwater_Architecture.png" class="card-img-top" alt="...">
                        </ng-template>
                    <div class="card-body">
                      <h5 class="card-title"> {{arq.name}} </h5>
                      <small> {{arq.domain}} </small> <br>
                      <!-- <p class="card-text"> {{ arq.description }} </p> -->
                      <a [routerLink]="[arq._id]" class="btn btn-outline-success mx-1">Acceder</a>
                      <button class="btn btn-outline-warning mx-1" (click)="dropArq(arq._id)">Liberar</button>
                    </div>
                  </div>
               </div>
          </div>

            <ng-template #await>
            <div class="spinner-border m-12" role="status">
                    <span class="sr-only">Loading...</span>
                    </div>
            </ng-template>     
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <!--div class="row"-->
                <div class="col">
                    <a href="javascript:history.go(-1)" class="btn btn-outline-success mx-1"><i class="fas fa-arrow-left  fa-2x  "></i> <br> Atras</a>
                    <a [routerLink]="['/ims/tests']" class="btn btn-outline-success mx-1"> <i class="fas fa-clipboard-list  fa-2x  "></i> <br> Pruebas</a>
                    <a [routerLink]="['/ims/graphics/']" class="btn btn-outline-success mx-1"><i class="fa fa-bar-chart fa-2x"></i> <br> Gráficas</a>
                    <a [routerLink]="['/ims/available']" class="btn btn-outline-info mx-1"> <i class="fas fa-plus  fa-2x  "></i> <br> Nueva Arquitectura</a>
                </div>
        <!--/div-->
    </div> 
</div> 


