<div class="container my-5">
        <div class="row">
            <div class="col">
                <h3>Arquitecturas Reservadas</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum temporibus amet dicta veniam eaque autem officia! Ducimus recusandae facere tenetur deserunt. Laudantium omnis voluptas dolor minima aliquid numquam vel error?</p>
            </div>
            <div class="col">
                <div class="row">
                        <div class="col">
                            <a href="javascript:history.go(-1)" class="btn btn-outline-success mx-1"><i class="fas fa-arrow-left  fa-2x  "></i> <br> Atras</a>
                            <a [routerLink]="['/ims/tests']" class="btn btn-outline-success mx-1"> <i class="fas fa-clipboard-list  fa-2x  "></i> <br> Pruebas</a>
                            <a [routerLink]="['/ims/graphics/']" class="btn btn-outline-success mx-1"><i class="fa fa-bar-chart fa-2x"></i> <br> Gráficas</a>
                            <a [routerLink]="['/ims/available']" class="btn btn-outline-info mx-1"> <i class="fas fa-plus  fa-2x  "></i> <br> Nueva Arquitectura</a>
                        </div>
                </div>
            </div>
        </div>
    <div>
        <div *ngIf="arquitectures; else await" >
            <div class="card-columns">
                <div *ngFor="let arq of arquitectures" class="card">
                    <div *ngIf="arq.type==1; else other" style="width: 10rem;" >
                        <img src="/assets/ims/server.png" class="card-img-top" alt="...">
                      </div>
                      <ng-template #other>
                        <img src="/assets/ims/Clearwater_Architecture.png" class="card-img-top" alt="...">
                      </ng-template>
                  <div class="card-body">
                    <h5 class="card-title"> {{arq.name}} </h5>
                    <small> {{arq.domain}} </small> <br>
                    <!-- <p class="card-text"> {{ arq.description }} </p> -->
                    <a [routerLink]="[arq._id]" class="btn btn-outline-success mx-1">Acceder</a>
                    <button class="btn btn-outline-warning mx-1" (click)="dropArq(arq._id)">Liberar</button>
                  </div>
                </div>
             </div>
        </div>
          
        <ng-template #await>
        <div class="spinner-border m-5" role="status">
            <span class="sr-only">Loading...</span>
            </div>
        </ng-template>
           
    </div>
</div>
