div{
    text-align: justify;
    text-justify: inter-word;
    font-size: 15px;
    /*font-family: "Times New Roman";*/
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
}

