
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav ">
            <ul id="sidebarnav">
                
                <li class="user-profile"> <a class="has-arrow waves-effect waves-dark"   aria-expanded="false"><img src="assets/telco/telcoIcon.png" alt="user" /><span class="hide-menu">Telco 2.0 </span></a>
                
                    <ul aria-expanded="false" class="collapse">
                        <li><a [routerLink]="['/home']" >Telco </a></li>
                        <li><a [routerLink]="['/home']" >Proyectos</a></li>
                        <li><a [routerLink]="['/comunity']" >Comunidad</a></li>
                        <li><a [routerLink]="['/contact']" >Contacto</a></li>
                        <li><a [routerLink]="['/console']" >Consola</a></li>
                        <li><a [routerLink]="['/home']" >Salir</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">IMS</li>
                <li> <a class="has-arrow waves-effect waves-dark"  aria-expanded="false"><i class="mdi mdi-book-open-variant"></i><span class="hide-menu">Información</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a class="has-arrow">Telco IMS </a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a [routerLink]="['information/all']"  routerLinkActive="active" >Infraestructura</a></li>
                                <li><a [routerLink]="['information/NFV']"  routerLinkActive="active" >Tecnologías</a></li>
                                <li><a  [routerLink]="['information/arquitectures']"  routerLinkActive="active">Arquitectura</a></li>
                            </ul>
                        </li>
                        <li><a  [routerLink]="['information/servicios']"  routerLinkActive="active">Servicios</a></li>
                        <li><a href="#" class="has-arrow">Guías</a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a [routerLink]="['information/Guide_Reser_Arq']"  routerLinkActive="active">Reservar arquitectura</a></li>
                                <li><a [routerLink]="['information/guides']"  routerLinkActive="active">Core IMS</a></li>
                                <li><a [routerLink]="['information/guides']"  routerLinkActive="active">Crear prueba</a></li>
                                <li><a [routerLink]="['information/guides']"  routerLinkActive="active">Crear gráfica</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark"  aria-expanded="false"><i class="mdi mdi-widgets"></i><span class="hide-menu">Arquitecturas</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a  [routerLink]="['arquitectures']" routerLinkActive="active" >Mis arquitecturas</a></li>
                        <li><a [routerLink]="['available']" routerLinkActive="active" >Reservar</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark"   aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Pruebas </span></a>
                    <ul aria-expanded="false" class="collapse ">
                        <li><a [routerLink]="['tests']" routerLinkActive="active">Mis pruebas</a></li>
                        <li><a [routerLink]="['test-new']" routerLinkActive="active" >Crear prueba</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark"  aria-expanded="false"><i class="mdi mdi-chart-areaspline"></i><span class="hide-menu">Gráficas</span></a>
                    <ul aria-expanded="false" class="collapse ">
                        <li><a  [routerLink]="['graphs']" routerLinkActive="active" >Mis gráficas</a></li>
                        <li><a [routerLink]="['graph-new']" routerLinkActive="active" >Crear gráfica</a></li>
                    </ul>
                </li> 
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
