<div class="row">
    <div class="col-sm-8 text-left" >
        <h1 id="servicios">SERVICIOS PLATAFORMA TELCO</h1>
        <div>
                 <p>La plataforma Telco provee servicios de orquestacion y gestion de recursos
                         virtuales los cuales son alojados en instancias o arquitecturas de VM como el subsistema
                            multimedia IP (IMS). Particularmente, el proyecto Telco IMS provee los servicios descritos a continuacion.
                 </p>
        </div>
        <div>      
            <ul>
                <li> <b>Maquinas Virtuales:</b> Las maquinas virtuales son orquestadas por el 
                hypervisor de Openstack que es un sistema de virtualizacion de funciones de red 
                que permite la gestion e instanciacion de funciones de red alojadas en arquitecturas
                de VM como el subsistema multimedia IP (IMS). IMS provee una arquitectura para la investigacion, 
                desarrollo tecnologico e innovacion de sistemas de Telecomunicaciones convergentes sobre IP.
                LA plataforma Telco IMS provee a los usuarios un un ambiente de pruebas flexible y configurable
                mediante el acceso a las maquinas virtuales por medio del terminal de consola en la web</li>
                <li> <b>Pruebas:</b> El proyecto Telco IMS provee a los usuarios una guia practica para
                    la experimentacion de pruebas en el nucleo IMS por medio de la simulacion de usuarios o 
                    servidores proxy SIP que permitan evaluar el rendimiento y QoS a partir de la monitorizacion
                de recursos en el sistema.  </li>
                <li> <b>Monitorizacion:</b> Este sistema provee graficas de monitorizacion de recursos de 
                    procesamiento y almacenamiento de las arquitecturas de VM asignadas a cada usuario del sistema.
                Las graficas permiten evaluar el rendimiento y la calidad de las arquitecturas IMS cuyos datos
            pueden ser descargados en formato JSON para su posterior analisis.  </li>
             </ul>
        </div>    
                    
    </div>

</div>