<div class="container my-5">
        <form (ngSubmit)="updateUser(formUser)" #formUser="ngForm" novalidate>
                <input type="hidden" name="_id" [(ngModel)]="user['_id']">
                <div *ngIf="editUser" class="row">
                    <div class="col-3">
                        {{ user['name'] }}
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-warning btn-sm mr-2 rounded-circle" (click)="this.editUser=false;">
                            <i class="fa fa-edit"></i>
                        </button>
                    </div>
                </div> 
                <div *ngIf="!editUser" class="row">
                    <div class="col-3">
                        <input type="text" name="name" [(ngModel)]="user['name']">
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-success btn-sm mr-2 rounded-circle" type="submit">
                            <i class="fa fa-save"></i> 
                        </button>
                    </div>
                </div> 
            
            <div class="row">
                <div class="col-2"><h5>Correo</h5></div>
                <div class="col">
                    <span *ngIf="editUser">
                        <!-- <button class="btn btn-outline-warning btn-sm mr-2 rounded-circle">
                            <i class="fa fa-edit"></i>
                        </button> -->
                         {{ user['email'] }}
                    </span> 
                    <span *ngIf="!editUser">
                        <input type="text" name="email" [(ngModel)]="user['email']">
                    </span> 
                </div>
            </div>
            <div class="row">
                <div class="col-2"><h5>Tipo de usuario</h5></div>
                <div class="col">
                    <span *ngIf="editUser">
                        <!-- <button class="btn btn-outline-warning btn-sm mr-2 rounded-circle">
                            <i class="fa fa-edit"></i>
                        </button> -->
                        {{ user['role'] }}
                    </span> 
                    <span *ngIf="!editUser">
                        <input type="text" name="role" [(ngModel)]="user['role']">
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <h5>Contraseña</h5>
                </div>
                <div class="col">
                    <span *ngIf="editUser">
                        <!-- <button class="btn btn-outline-warning btn-sm mr-2 rounded-circle">
                            <i class="fa fa-edit"></i>
                        </button>  -->
                        *****
                    </span >
                    <span *ngIf="!editUser">
                            <input type="text" name="password" ngModel>
                    </span>
                </div>
            </div>
        </form>
</div>

