<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 text-left" >
            <h2>Reservar arquitecturas</h2>
            <div style="margin-top: 30px;">
                <p> En esta sección usted podrá reservar recursos virtuales de la plataforma Telco IMS instanciados en arquitecturas de máquinas virtuales dependiendo de su disponibilidad. Para ello, usted deberá ingresar a la sección de arquitecturas y seleccionar la opción <b style="color:black;">"Reservar Arquitecturas"</b> como se observa en la <b style="color:black;">Figura 1</b>. <b style="color: black;">Nota:</b> Si no existen recursos disponibles en el testbed Telco IMS los usuarios no podrán reservar arquitecturas. Deberán intentar más tarde o comunicarse con el administrador de la plataforma para solicitar más recursos.</p> 
            </div>
        </div>
        <div class="col-sm-6 text-left" >
            <div>   
                <img src="assets/ims/Reser_Arq1.JPG" alt="Clearwater AIO"  style="width: 100%; height: auto;"  hspace="10" vspace="10">
                <figcaption style="color: black; text-align: center;"><b>Fig. 1</b> Máquina Virtual Clearwater IMS</figcaption>
            </div>  
        </div>
    </div>
</div>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-left" >
            <h2>Reservar y acceder a una arquitectura</h2>
            <div style="margin-top: 30px;">
                <p> En esta sección usted podrá reservar una o más arquitecturas de máquinas virtuales dependiendo de su disponibilidad en el ambiente de pruebas y acceder a ella, Asimismo, los recursos reservados pueden ser liberados en la opción liberar arquitectura. <b style="color:black;">Nota:</b> En la descripción de las arquitecturas reservadas se puede verificar los recursos disponibles de almacenamiento y procesamiento para agregar nuevas máquinas virtuales en la plataforma. </p>
            </div>
        </div>
        <div class="col-sm-6 text-left" >
            <div>   
                <img src="assets/ims/Reser_Arq2.JPG" alt="Clearwater AIO"  class="center" style="width: 100%; height: auto;"  hspace="10" vspace="10">
                <figcaption style="color: black; text-align: center;"><b>Fig. 2</b> Reservar Arquitecturas</figcaption>
            </div>  
        </div>
        <div class="col-sm-6 text-left" >
            <div>   
                <img src="assets/ims/Reser_Arq3.JPG" alt="Clearwater AIO"  class="center" style="width: 85%; height: auto;"  hspace="10" vspace="10">
                <figcaption style="color: black; text-align: center;"><b>Fig. 3</b> Acceder a la Arquitectura Reservada</figcaption>
            </div>  
        </div>
    </div>
</div>
<hr>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-left" >
            <h2>Máquinas virtuales reservadas</h2>
            <div style="margin-top: 30px;">
                <p> En esta sección se visualizan las máquinas virtuales (MV) de la arquitectura IMS reservada donde los usuarios pueden verificar el estado de las VM creadas, tomar una instantánea, eliminarla, redimensionarla o acceder al terminal de comandos en la web por medio de la consola. Asimismo, pueden crear MV adicionales en la plataforma en la opción <b style="color:black;">Crear MV</b>. Las MV creadas adicionalmente pueden ser visualizadas en la opción <b style="color:black;">MV creadas</b>. <b style="color:black;">Nota:</b> Las MV  creadas inicialmente tienen un sistema operativo de ubuntu server 14. Sus credenciales de ingreso son: <b style="color: black;">usuario: "telcoims"; contraseña: "telcoims" </b>. Excepto la MV de Clearwater AIO cuyas credenciales de ingreso son: usuario: <b style="color: black;">"ubuntu"; contraseña: "cw-aio".</b> </p>
            </div>
        </div>
        <div class="col-sm-12 text-left" >
            <div>   
                <img src="assets/ims/Reser_Arq4.JPG" alt="Clearwater AIO"  class="center" style="width: 100%; height: auto;"  hspace="10" vspace="10">
                <figcaption style="color: black; text-align: center;"><b>Fig. 4</b> Máquinas virtuales Clearwater IMS</figcaption>
            </div>  
        </div>
        <div class="col-sm-12 text-left" >
            <div>   
                <img src="assets/ims/Reser_Arq5.JPG" alt="Clearwater AIO"  class="center" style="width: 85%; height: auto; margin-top: 15px;"  hspace="10" vspace="10">
                <figcaption style="color: black; text-align: center;"><b>Fig. 5</b> Máquinas virtuales adicionales </figcaption>
            </div>  
            <hr>
            <div>
                <h2>Crear una máquina virtual adicional</h2>
                <p style="margin-top: 25px;">Para crear una nueva MV se debe presionar en la opción <b style="color: black;">"Crear MV"</b>. Las opciones para crear una MV son visualizadas en la <b style="color: black;">Figura 6</b>. Los usuarios pueden seleccionar las capacidades de la máquina virtual por medio de una barra deslizante. Asimismo, pueden seleccionar el sistema operativo a utilizar dependiendo las imagenes disponibles en el sistema.</p>
            </div>
            <div>   
                <img src="assets/ims/Reser_Arq6.JPG" alt="Clearwater AIO"  class="center" style="width: 85%; height: auto; margin-top: 15px;"  hspace="10" vspace="10">
                <figcaption style="color: black; text-align: center;"><b>Fig. 6</b> Crear una máquina virtual adicional </figcaption>
            </div> 
            <div>
                <p style="margin-top: 20px;">Las máquinas virtuales creadas adicionalmente proveen un ambiente de pruebas flexible y configurable ideal para la investigación y desarrollo tecnológico de nuevas tecnologías y sistemas de telecomunicaciones en redes fijas y móviles.</p>
            </div>
        </div>
    </div>
</div>
<hr>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-left" >
            <h2>Acceso al Terminal de comandos de una máquina virtual</h2>
            <div>
                <p> Cuando se presione el botón de consola se abrirá un terminal de comandos de la MV  en la web para su posterior configuración.  En esta pestaña aparecerá un cuadro negro  que representa el terminal de comandos de la MV. Para poder configurarlo, es necesario presionar la tecla “enter”  sobre el cuadro negro permitiendo al usuario ingresar a la MV como modo privilegiado. Para acceder como modo “súper usuario” debe escribir en el terminal en la consola el comando <b style="color: black;">"sudo su" </b> e ingresar las credenciales mencionadas anteriormente. </p> 
            </div>
            <div class="col-sm-12 text-left" >
                <div>   
                    <img src="assets/ims/Reser_Arq8.JPG" alt="Terminal comandos VM AIO" class="center" style="width: auto; height: auto;"  hspace="10" vspace="10">
                    <figcaption style="color: black; text-align: center;"><b>Fig. 7</b> Terminal de comandos de una máquina virtual</figcaption>
                </div>  
                <p style="margin-top: 25px;">Las máquinas virtuales tienen acceso a internet  y pueden ser configuradas según sus necesidades. Si es necesario una imagen de un sistema operativo en especial debe proveer la imagen en formato VMDK o QOCW2 al administrador de la plataforma para subirlo en el sistema</p>
            </div>
        </div>
    </div>
</div>