<section>
    <div id="contacto" class="section fondo-imagen-azul">
      <div class="titulo-seccion">CONTACTO</div>
      <article class="contacto">
        <div class="titulo-contacto">Facultad de ingeniería electrónica y
        <br>   Telecomunicaciónes</div>
        <div class="contenido-contacto">
          <p></p>
          <div class="region region-contacto-footer">
            <!-- <div id="block-block-2" class="block block-block"> -->
            <div id="block-block-2" >
              <div>
                <p>Ingenierías.<br>
                    Calle 4 Nº 3-56.<br>
                    Tulcan.<br>
                    Teléfono: 8209&nbsp;ext. 14, 14.<br>
                    Correo electrónico: <a>fjpino@unicauca.edu.co</a></p>
                <!-- <p>&nbsp;</p> -->
                <p>Escríbele al Decano: <a>fjpino@unicauca.edu.co</a></p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
              </div>
            </div>
          </div>
          <p></p>
          <div>
            <div class="social-footer">
                <a href="http://www.facebook.com" target="_blank"><img src="assets/img/facebook-w.png"></a>
                <a href="http://www.instagram.com" target="_blank"><img src="assets/img/instagram-w.png"></a>
                <a href="http://www.twitter.com" target="_blank"><img src="assets/img/twiter-w.png"></a>
            </div>
        </div>
        </div>
      </article>
      <div class="logo-footer">
        <img src="assets/img/PDD.png">
      </div>
    </div>
  </section>
  
  