<div class="card-columns">
    <div class="card" *ngFor=" let arquitecture of arquitectures">
        <div class=" centered ">
            <img src="{{ arquitecture.type == '2' ? 'assets/ims/clearwater.JPG' : 'assets/ims/server.png'  }}" class="card-img-top image" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title"> {{arquitecture.name}} </h5>
          <p class="card-text">Core IMS de {{arquitecture.maxVM}} máquinas virtuales. Capacidad extra de {{arquitecture.maxRAM}} GB RAM, {{arquitecture.maxHDD}} GB de almacenamiento y {{arquitecture.maxCore}} Procesadores.</p>
          <div class="row">
              <div class="col">
                  <button class="btn btn-warning mr-auto" (click)="dropArq(arquitecture._id)">Liberar</button>

              </div>
              <div class="col">

                <a [routerLink]="['/ims/arquitecture/'+ arquitecture._id]" class="btn btn-outline-success mx-1">Acceder</a>
              </div>
          </div>
        </div>
    </div> 

  </div>


    
   
   
