<div class="card-columns">
    <div class="card">
        <div class=" centered ">
            

                <img src="assets/ims/clearwater.JPG" class="card-img-top image" alt="...">
            

        </div>
        <div class="card-body">
          <h5 class="card-title">Distribuida</h5>
          <p class="card-text">Core IMS de 6 máquinas virtuales. Capacidad extra de 6 GB RAM, 30 GB de almacenamiento y 8 Procesadores.</p>
          <div class="row">
              <div class="col">
                  <button class="btn btn-warning mr-auto">Liberar</button>

              </div>
              <div class="col">

                  <button class="btn btn-success ml-auto">Acceder</button>
              </div>
          </div>
        </div>
    </div> 
    <div class="card">
        <div class=" centered ">

            <img src="assets/ims/clearwater.JPG" class="card-img-top image" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Distribuida</h5>
          <p class="card-text">Core IMS de 6 máquinas virtuales. Capacidad extra de 6 GB RAM, 30 GB de almacenamiento y 8 Procesadores.</p>
          <div class="row">
            <div class="col">
                <button class="btn btn-warning mr-auto">Liberar</button>

            </div>
            <div class="col">

                <button class="btn btn-success ml-auto">Acceder</button>
            </div>
        </div>
        </div>
    </div> 
    <div class="card">
        <div class=" centered ">

            <img src="assets/ims/clearwater.JPG" class="card-img-top image" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Distribuida</h5>
          <p class="card-text">Core IMS de 6 máquinas virtuales. Capacidad extra de 6 GB RAM, 30 GB de almacenamiento y 8 Procesadores.</p>
          <div class="row">
            <div class="col">
                <button class="btn btn-warning mr-auto">Liberar</button>

            </div>
            <div class="col">

                <button class="btn btn-success ml-auto">Acceder</button>
            </div>
        </div>
        </div>
    </div> 

    <div class="card">
        <div class=" centered ">
        
            <img src="assets/ims/server.png" class="card-img-top image" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Todo en Uno</h5>
          <p class="card-text">Core IMS de 1 máquina virtual. Capacidad extra de 6 GB RAM, 30 GB de almacenamiento y 8 Procesadores.</p>
          <div class="row">
            <div class="col">
                <button class="btn btn-warning mr-auto">Liberar</button>

            </div>
            <div class="col">

                <button class="btn btn-success ml-auto">Acceder</button>
            </div>
        </div>
        </div>
    </div> 
    <div class="card">
        <div class=" centered ">

            <img src="assets/ims/server.png" class="card-img-top image" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Todo en Uno</h5>
          <p class="card-text">Core IMS de 1 máquina virtual. Capacidad extra de 6 GB RAM, 30 GB de almacenamiento y 8 Procesadores.</p>
          <div class="row">
            <div class="col">
                <button class="btn btn-warning mr-auto">Liberar</button>

            </div>
            <div class="col">

                <button class="btn btn-success ml-auto">Acceder</button>
            </div>
        </div>
        </div>
    </div> 
      


  </div>