
    <div class="container">
        <div class="row">
            <div class="col m-lg-4">
                <div class="row"><h5>Empresary</h5></div>
                <div class="row"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae soluta earum vero, nisi voluptatum laboriosam, ratione mollitia placeat ipsam temporibus similique dolorem! Praesentium dicta recusandae tenetur est illum nihil officiis. </p></div>
            </div>
            <div class="col m-lg-4"> 
                <div class="col m-2">
                    <div class="row"><h5>Contáctanos</h5></div>
                    <div class="row"><p>Visitanos en redes sociales <a href="#"> facebook</a> <a href="#">Twitter</a> o envianos un correo <a href="#">contacto</a>. Nuestro personal siempre esta dispuesto a ayudar.</p></div>
                </div>
            </div>
            <div class="col bg-danger p-lg-4 ">
                <div class="row ">
                    <div class="mx-auto d-flex align-items-center">
                            <i class="fa fa-user fa-3x"></i>
                            <h3 class="align-self-end">   Contacto</h3>
                    </div>   
                </div>
                <hr>
                <div class="row d-flex align-items-center">
                    <div class="col-4"><i class="fa fa-envelope fa-2x"></i></div>
                    <div class="col-8"><span>business@hotmail.com</span><br><span>business@hotmail.com</span></div>
                        
                </div>
                <div class="row d-flex align-items-center">
                        <div class="col-4"><i class="fa fa-phone fa-2x"></i></div>
                        <div class="col-8"><span>xxx xxx xxxx</span></div>
                        
                </div>
                <div class="row d-flex align-items-center">
                        <div class="col-4"><i class="fa fa-map-marker fa-2x"></i></div>
                        <div class="col-8"><a href="maps.google.com">Ubicación</a></div>
                             
                </div>
            </div>
        </div>
    </div>
