

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Seguro?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Eliminar vm <strong>{{vmDelete.nameVm}}</strong> de la arquitectura {{vmDelete.nameArquitecture}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteServer(vmDelete.idVm, vmDelete.idArquitecture, vmDelete.index)">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
<div *ngIf="!loading; else await">
   
    <div class="container m-2">

        <div class="row">
            <!--div class="col text-white bg-info"-->
            
        </div>
    </div>
        
    <div class="row my-2">
       

        <div class="col d-flex justify-content-end">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
       
                <input class="btn btn-info  mx-1"  type="button" name="options" (click)="showims()" id="option1" autocomplete="off" checked value="Núcleo IMS"> 
                <input class="btn btn-info mx-1" type="button" name="options" (click)="showaditional()" id="option1" autocomplete="off" checked value="MV creadas"> 
                
              
          </div>
        </div> 
        <!-- <div class="col d-flex justify-content-end">
            <button class="btn btn-success" (click)="showims()"> 
                <i class="fas fa-network-wired">Núcleo IMS</i>
           </button> 
        </div>  -->
        <!-- <div class="col d-flex justify-content-start">
            <button class="btn btn-outline-secondary" (click)="[showaditional()]"> 
                <i class="fas fa-network-wired    "> MV adicionales</i>
                
           </button>  
        </div>   -->
        <div class="col d-flex justify-content-end">
            <a [routerLink]="['/ims/arquitectures/'+idArquitecture+'/newServer']"  class="btn btn-primary">
                <!-- <i class="fa fa-server" aria-hidden="true">Crear MV</i></a> -->
                
                <i class="fa fa-plus-circle fa-2x mx-2" id="newVm" aria-hidden="true">  </i>
                <label for="newVm">Crear VM</label>
            </a>
                
            
        </div>  
    </div>
    
   
     <table class="table"> 
        <thead class="thead-dark">
            <tr>
                <th scope="col">Máquina Virtual</th>
                <th scope="col">Acciones</th>
                <th scope="col">Consola</th>
            </tr>
        </thead>
        
            <tbody>
                <tr *ngFor="let vm of core; let i = index" >

                    <!-- <th scope="row" (mouseover)='consultFlavor(vm.infoServer.flavor.id)' [title]="resourcesFlavor" > {{vm.name}}  <br> {{vm.infoServer.addresses['test3'][0].addr}} <i class="fa fa-info-circle mx-auto"  aria-hidden="true"></i></th> -->
                    <!-- <th scope="row" (mouseover)='consultFlavor(vm.infoServer.flavor.id)' [title]="resourcesFlavor" > {{vm.name}}  <br> {{vm.infoServer.addresses[vm.infoServer.addresses.keys()[0]][0].addr}} <i class="fa fa-info-circle mx-auto"  aria-hidden="true"></i></th> -->
                    <th scope="row" (mouseover)='consultFlavor(vm.infoServer.flavor.id)' [title]="'Ram:'+ vm.infoServer.resource.ram + ' Procesadores: ' + vm.infoServer.resource.vcpus + 'Disco: '+ + vm.infoServer.resource.disk" > {{vm.name}}  <br>
                        <span *ngFor="let address of vm.infoServer.addresses | keyvalue" > 
                             <div *ngIf="vm.name == 'aio' || vm.name == 'ellis'; else linkAIO"> 
                                Ip flotante: <a title="Dashboard Clearwater" href="http://{{address.value[1].addr}}/login.html" target="_blank" >{{address.value[1].addr}}</a> <br>
                                IP privada: {{ address.value[0].addr }}
                                
                            </div>
                            <ng-template #linkAIO>
                                IP flotante:{{ address.value[1].addr }} <br>
                                IP privada:{{ address.value[0].addr }}
                            </ng-template> 
                        </span>
                            
                        <i class="fa fa-info-circle mx-auto"  aria-hidden="true"></i>
                    </th>
                    <td>
                        

                            <label for="btnOnOff">Off/On</label>
                            <mat-slide-toggle id="btnOnOff" color="primary" [id]="vm.id" (click)="[powerServer(vm._id)]"  [checked]=" vm.infoServer.status=='ACTIVE'? 'true':'false'" title="Encender/Apagar" ></mat-slide-toggle>
                        
                        <!-- <mat-slide-toggle color="primary" (click)="[powerServer(vm._id,vm.infoServer.status)]" [ngModel]="stateBtn" [checked]=" vm.infoServer.status=='ACTIVE'? 'true':'false'" >Off/On</mat-slide-toggle> -->
                       
                        
                        <!-- <button class="btn btn-secondary btn-sm mx-1" (click)="[instantServer(vm._id,i)]">Instantanea</button> -->
                        <button class="btn btn-secondary btn-sm mx-1" (click)="[instantServer(vm._id,i)]" title="Instantanea"> <i class="fa fa-camera-retro fa-2x" aria-hidden="true"></i> </button>
                        
                        <button *ngIf="vm.idImageRebuild" class="btn btn-secondary btn-sm mx-1" (click)="[returnServer(vm._id)]">Reestablecer</button>
                        <!-- <button class="btn btn-warning btn-sm mx-1" id="btnRedimencion{{vm._id}}" (click)="[seeFormEditVm(vm._id, idArquitecture)]" >Redimensionar</button> -->
                        <button class="btn btn-warning btn-sm mx-1" id="btnRedimencion{{vm._id}}" (click)="[seeFormEditVm(vm._id, idArquitecture)]" title="Redimensionar"> <i class="fa fa-expand fa-2x" aria-hidden="true"></i> </button>
                        <!-- <button class="btn btn-danger btn-sm mx-1" (click)="[deleteServer(vm._id, idArquitecture, i)]">Eliminar</button> -->
                        <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger btn-sm mx-1" data-toggle="modal" (click)="setInfoVmDelete(vm._id, idArquitecture, i)"  title="Eliminar" data-target="#exampleModal">
                                <i class="fa fa-trash fa-2x" aria-hidden="true"></i> 
                            </button>
                        <!-- <button class="btn btn-danger btn-sm mx-1" (click)="[deleteServer(vm._id, idArquitecture, i)]" title="Eliminar"> <i class="fa fa-trash fa-2x" aria-hidden="true"></i> </button> -->
                        <div class="row  bg-dark p-3" id="divRedimencion{{vm._id}}" style="display:none">
                            <form (ngSubmit)='resizeServer(dataFormEdit, vm._id)'  #dataFormEdit="ngForm" class="m-1" novalidate> 
                                <input class="mx-1" type="hidden" name="server" #server="ngModel" [(ngModel)]="vm._id" ngModel placeholder="CPU">
                                 <div class="container ">
                                    <div class="row" >
                                        <div class="col">
                                            <label  class="text-white" for="formControlRange">Procesadores</label>
                                        <mat-slider
                                            thumbLabel
                                            [displayWith]="formatLabel"
                                            tickInterval="1000"
                                            min="0"
                                            max="{{resourcesDisp.vcpus + vm.infoServer.resource.vcpus}}" name="vcpus" 
                                            required 
                                            #vcpus="ngModel" [ngModel]="vm.infoServer.resource.vcpus"
                                            ></mat-slider>
                                        </div>
                                        <div class="col">

                                            <label class="text-white" for="formControlRange">RAM [Gb ]</label><br>
                                            <mat-slider
                                                thumbLabel
                                                [displayWith]="formatLabel"
                                                tickInterval="auto"
                                                min="0"
                                                max="{{resourcesDisp.ram/1024 + vm.infoServer.resource.ram/1024 }}" name="ram" required 
                                                #ram="ngModel" [ngModel]="vm.infoServer.resource.ram/1024"
                                                ></mat-slider>
                                        </div>
                                        <div class="col">
                                            <label class="text-white" for="formControlRange">Almacenamiento [Gb]</label>
                                            <mat-slider
                                                thumbLabel
                                                [displayWith]="formatLabel"
                                                tickInterval="1000"
                                                min="0"
                                                max="{{resourcesDisp.disk + vm.infoServer.resource.disk}}" name="disk" required 
                                                #disk="ngModel"  [ngModel]="vm.infoServer.resource.disk"
                                                ></mat-slider>
                                        </div>
                                    </div> 
                                </div>
                                 
                                 
                                
                                <button class="btn btn-primary btn-sm mx-1" type="submit">Guardar</button>
                                <button class="btn btn-danger btn-sm mx-1" type="button" (click)="hideFormEditVm(vm._id)">Cancel</button>
                            </form> 
                        </div>
                    </td>
                    <td>
                        <!-- <button class="btn btn-success" title="Dar click en la sección negra luego la tecla enter" (click)="[consoleServer(vm._id)]">Consola</button> -->
                        <button class="btn btn-success" title="Dar click en la sección negra luego la tecla enter" (click)="[consoleServer(vm._id)]"> <i class="fa fa-desktop fa-2x" aria-hidden="true"></i> </button>
                    </td>
                </tr>
            </tbody> 
        
        
            </table>
</div>
<div class="col" style="background-color:#e7ad31f3; color: black;">
    <p style="font-size: 16px;"> Usuario y contraseña de las máquinas virtuales "telcoims". Excepto la máquina virtual aio donde usuario: "ubuntu"; contraseña: "cw-aio"</p>
</div>
<ng-template #await>
    <app-loading [message]="messageLoading"></app-loading>
  </ng-template>

<button class="btn btn-info" (click)="changeFlatUsersIms()"> Guía de usuarios núcleo IMS</button>
<app-guide-softphone *ngIf="flatGuideUsers" ></app-guide-softphone>