
<div *ngIf="!loading; else await">
   
    <div class="container m-2">

        <div class="row">
            <!--div class="col text-white bg-info"-->
            
        </div>
    </div>
        
    <div class="row my-2">
       

        <div class="col d-flex justify-content-end">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
       
                <input class="btn btn-info  mx-1"  type="button" name="options" (click)="showims()" id="option1" autocomplete="off" checked value="Núcleo IMS"> 
                <input class="btn btn-info mx-1" type="button" name="options" (click)="showaditional()" id="option1" autocomplete="off" checked value="MV creadas"> 
                
              
          </div>
        </div> 
        <!-- <div class="col d-flex justify-content-end">
            <button class="btn btn-success" (click)="showims()"> 
                <i class="fas fa-network-wired">Núcleo IMS</i>
           </button> 
        </div>  -->
        <!-- <div class="col d-flex justify-content-start">
            <button class="btn btn-outline-secondary" (click)="[showaditional()]"> 
                <i class="fas fa-network-wired    "> MV adicionales</i>
                
           </button>  
        </div>   -->
        <div class="col d-flex justify-content-end">
            <a [routerLink]="['/ims/arquitectures/'+idArquitecture+'/newServer']"  class="btn btn-primary">
                <i class="fa fa-server" aria-hidden="true">Crear MV</i></a>
            
        </div>  
    </div>
    
   
     <table class="table"> 
        <thead class="thead-dark">
            <tr>
                <th scope="col">Máquina Virtual</th>
                <th scope="col">Acciones</th>
                <th scope="col">Consola</th>
            </tr>
        </thead>
        
            <tbody>
                <tr *ngFor="let vm of core; let i = index" >

                    <!-- <th scope="row" (mouseover)='consultFlavor(vm.infoServer.flavor.id)' [title]="resourcesFlavor" > {{vm.name}}  <br> {{vm.infoServer.addresses['test3'][0].addr}} <i class="fa fa-info-circle mx-auto"  aria-hidden="true"></i></th> -->
                    <!-- <th scope="row" (mouseover)='consultFlavor(vm.infoServer.flavor.id)' [title]="resourcesFlavor" > {{vm.name}}  <br> {{vm.infoServer.addresses[vm.infoServer.addresses.keys()[0]][0].addr}} <i class="fa fa-info-circle mx-auto"  aria-hidden="true"></i></th> -->
                    <th scope="row" (mouseover)='consultFlavor(vm.infoServer.flavor.id)' [title]="resourcesFlavor" > {{vm.name}}  <br>
                        <span *ngFor="let address of vm.infoServer.addresses | keyvalue" > 
                             <div *ngIf="vm.name == 'aio' || vm.name == 'ellis'; else linkAIO"> 
                                Ip pública: <a title="Dashboard Clearwater" href="http://{{address.value[1].addr}}/login.html" target="_blank" >{{address.value[1].addr}}</a>
                                <!-- IP privada: <a [routerLink]="[address.value[1].addr]" >address.value[0].addr</a> -->
                                
                            </div>
                            <ng-template #linkAIO>
                                IP pública:{{ address.value[1].addr }} <br>
                                <!-- IP privada:{{ address.value[0].addr }} -->
                            </ng-template> 
                        </span>
                            
                        <i class="fa fa-info-circle mx-auto"  aria-hidden="true"></i>
                    </th>
                    <td>
                        
                        <!-- <mat-slide-toggle color="primary" (click)="[powerServer(vm._id,vm.infoServer.status)]" [ngModel]="stateBtn" [checked]=" vm.infoServer.status=='ACTIVE'? 'true':'false'" >Off/On</mat-slide-toggle> -->
                        <mat-slide-toggle color="primary" (click)="[powerServer(vm._id)]"  [checked]=" vm.infoServer.status=='ACTIVE'? 'true':'false'" >Off/On</mat-slide-toggle>
                       
                        
                        <button class="btn btn-secondary btn-sm mx-1" (click)="[instantServer(vm._id,i)]">Instantanea</button>
                        
                        <button *ngIf="vm.idImageRebuild" class="btn btn-secondary btn-sm mx-1" (click)="[returnServer(vm._id)]">Reestablecer</button>
                        <button class="btn btn-danger btn-sm mx-1" (click)="[deleteServer(vm._id, idArquitecture, i)]">Eliminar</button>
                        <button class="btn btn-warning btn-sm mx-1" id="btnRedimencion{{vm._id}}" (click)="[seeFormEditVm(vm._id, idArquitecture)]" >Redimencionar</button>
                        <div class="row  bg-dark" id="divRedimencion{{vm._id}}" style="display:none">
                            <form (ngSubmit)='resizeServer(dataFormEdit, vm._id)'  #dataFormEdit="ngForm" class="m-1" novalidate> 
                                <input class="mx-1" type="hidden" name="server" #server="ngModel" [(ngModel)]="vm._id" ngModel placeholder="CPU">
                                 <div class="container">
                                    <div class="row" >
                                        <div class="col">
                                            <label  class="text-white" for="formControlRange">Procesadores</label>
                                        <mat-slider
                                            thumbLabel
                                            [displayWith]="formatLabel"
                                            tickInterval="1000"
                                            min="0"
                                            max="{{resourcesDisp.vcpus}}" name="vcpus" required #vcpus="ngModel" ngModel
                                            ></mat-slider>
                                        </div>
                                        <div class="col">

                                            <label class="text-white" for="formControlRange">RAM [Gb ]</label><br>
                                            <mat-slider
                                                thumbLabel
                                                [displayWith]="formatLabel"
                                                tickInterval="1000"
                                                min="0"
                                                max="{{resourcesDisp.ram/1024}}" name="ram" required #ram="ngModel" ngModel></mat-slider>
                                        </div>
                                        <div class="col">
                                            <label class="text-white" for="formControlRange">Almacenamiento [Gb]</label>
                                            <mat-slider
                                                thumbLabel
                                                [displayWith]="formatLabel"
                                                tickInterval="1000"
                                                min="0"
                                                max="{{resourcesDisp.disk}}" name="disk" required #disk="ngModel" ngModel></mat-slider>
                                        </div>
                                    </div> 
                                </div>
                                 
                                 
                                
                                <button class="btn btn-primary btn-sm mx-1" type="submit">Guardar</button>
                                <button class="btn btn-danger btn-sm mx-1" type="button" (click)="hideFormEditVm(vm._id)">Cancel</button>
                            </form> 
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-success" title="Dar click en la sección negra luego la tecla enter" (click)="[consoleServer(vm._id)]">Consola</button>
                    </td>
                </tr>
            </tbody> 
        
        
            </table>
</div>
<div class="col" style="background-color:#e7ad31f3; color: black;">
    <p style="font-size: 16px;"> Usuario y contraseña de las máquinas virtuales "telcoims". Excepto la máquina virtual aio donde usuario: "ubuntu"; contraseña: "cw-aio"</p>
</div>
<ng-template #await>
    <app-loading [message]="messageLoading"></app-loading>
  </ng-template>

<button class="btn btn-info" (click)="changeFlatUsersIms()"> Guía de usuarios núcleo IMS</button>
<app-guide-softphone *ngIf="flatGuideUsers" ></app-guide-softphone>