<div class="preloader">
  <div class="loader">
      <div class="loader__figure"></div>
      <p class="loader__label">Telco IMS</p>
  </div>
</div>
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    

      <app-header *ngIf="proyect == 'ims'"></app-header>    
      <app-header *ngIf="proyect == 'telcomovil'"></app-header>    
    
      <!-- ============================================================== -->
      <!-- End-Main wrapper - style you can find in pages.scss -->
      <!-- ============================================================== -->

      <!-- ============================================================== -->
      <!-- Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
    <aside class="left-sidebar">
      

        <app-sidebar *ngIf="proyect == 'ims'"></app-sidebar>
        <app-sidebar *ngIf="proyect == 'movil'"></app-sidebar>
     
      
    </aside>
      <!-- ============================================================== -->
      <!-- End Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- <div class="container-fluid r-aside"> -->
            <div class="container-fluid ">
           

                <app-breadcrumbs *ngIf="proyect == 'ims'"></app-breadcrumbs>
                <app-breadcrumbs *ngIf="proyect == 'telcomovil'"></app-breadcrumbs>
               
              
                <router-outlet></router-outlet>
            </div>
        </div>
</div>