<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
      <app-header></app-header>    
      <!-- ============================================================== -->
      <!-- End-Main wrapper - style you can find in pages.scss -->
      <!-- ============================================================== -->

      <!-- ============================================================== -->
      <!-- Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
      <app-sidebar></app-sidebar>
      <!-- ============================================================== -->
      <!-- End Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- <div class="container-fluid r-aside"> -->
            <div class="container-fluid ">
                <app-breadcrumbs></app-breadcrumbs>
                
                <router-outlet></router-outlet>
            </div>
        </div>
</div>