<div class="container my-5">
        <div class="row">
            <div class="col">
                <h3>Bienvenido al ambiente de prueba IMS</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum temporibus amet dicta veniam eaque autem officia! Ducimus recusandae facere tenetur deserunt. Laudantium omnis voluptas dolor minima aliquid numquam vel error?</p>
            </div>
            <div class="col">
                <div class="row">
                        <div class="col">
                            <a href="javascript:history.go(-1)" class="btn btn-outline-success mx-1"><i class="fas fa-arrow-left  fa-2x  "></i> <br> Atras</a>
                            <a [routerLink]="['reserved']" class="btn btn-outline-success mx-1"> <i class="fas fa-network-wired  fa-2x  "></i> <br> Arquitecturas</a>
                            <a [routerLink]="['tests']" class="btn btn-outline-success mx-1"> <i class="fas fa-clipboard-list  fa-2x  "></i> <br> Pruebas</a>
                            <a [routerLink]="['graphics']" class="btn btn-outline-success mx-1"><i class="fa fa-bar-chart fa-2x"></i> <br> Gráficas</a>
                        </div>
                </div>
            </div>
        </div>
    <div>
        <h4>Información</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste doloribus minus ducimus ad voluptate amet rerum. Quod tempora blanditiis odit neque minus enim recusandae, quaerat, voluptatum sit quibusdam veritatis suscipit.</p>
        <h5>Arquirectura IMS</h5>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, itaque? In, eaque. Nam et nostrum harum, ex similique tenetur itaque veniam quisquam eos eveniet. Iure voluptas neque error aut saepe.</p>
        <h5>Servicios del ambiente de prueba IMS</h5>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, itaque? In, eaque. Nam et nostrum harum, ex similique tenetur itaque veniam quisquam eos eveniet. Iure voluptas neque error aut saepe.</p>
        <h5>Pruebas</h5>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, itaque? In, eaque. Nam et nostrum harum, ex similique tenetur itaque veniam quisquam eos eveniet. Iure voluptas neque error aut saepe.</p>
        <h5>Gráf</h5>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, itaque? In, eaque. Nam et nostrum harum, ex similique tenetur itaque veniam quisquam eos eveniet. Iure voluptas neque error aut saepe.</p>

    </div>
    

</div>