
  
  
    <ul class="section-nav">
        <li class="toc-entry toc-h2"><a href="#how-it-works">How it works</a></li>
        <li class="toc-entry toc-h2"><a href="#supported-content">Supported content</a>
        <ul>
        <li class="toc-entry toc-h3"><a href="#brand">Brand</a></li>
        <li class="toc-entry toc-h3"><a href="#nav">Nav</a></li>
        <li class="toc-entry toc-h3"><a href="#forms">Forms</a></li>
        <li class="toc-entry toc-h3"><a href="#text">Text</a></li>
        </ul>
        </li>
        <li class="toc-entry toc-h2"><a href="#color-schemes">Color schemes</a></li>
        <li class="toc-entry toc-h2"><a href="#containers">Containers</a></li>
        <li class="toc-entry toc-h2"><a href="#placement">Placement</a></li>
        <li class="toc-entry toc-h2"><a href="#responsive-behaviors">Responsive behaviors</a>
        <ul>
        <li class="toc-entry toc-h3"><a href="#toggler">Toggler</a></li>
        <li class="toc-entry toc-h3"><a href="#external-content">External content</a></li>
        </ul>
        </li>
        </ul>
    