<div class="modal fade" id="formNewGraph" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nueva Gráfica</h5>
                    <button id='btnclose' type="button" class="close" data-dismiss="modal" aria-label="Close" >
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="newGraph(formNewGraph)" #formNewGraph="ngForm" novalidate>
                    <div class="form-row">
                      <div class="form-group col-md-6" *ngIf="!idServer">
                        <label for="inputArquitecture">Arquitectura</label>
                        
                        <select #selectArq id="inputArquitecture" class="form-control" (change)="updateServers(selectArq.value)" >
                            <ng-template [ngIf]="arquitecture" [ngIfElse]="arqs">
                                <option [value]="arquitecture._id"> {{arquitecture.name}} </option>
                               </ng-template>
                               
                               <ng-template #arqs>
                                   <option >Elegir...</option>
                               <option [value]="arq._id" *ngFor="let arq of arquitectures">{{arq.name}}</option>
                               </ng-template>
                          </select>
                      </div>
                      <div class="form-group col">
                        <label for="inputServer">Máquina virtual</label>
                        <select #selectServer name="idServer" id="inputServer" class="form-control" (change)="upgradeGraphs(selectServer.value)" ngModel>
                            <ng-template [ngIf]="server" [ngIfElse]="vms">
                                
                                <option [value]="server._id"> {{server.name}} </option>
                               </ng-template>
                               <ng-template #vms>
                                <option >Elegir...</option>
                               <option [value]="server._id" *ngFor="let server of servers">{{server.name}}</option>
                            </ng-template>
                          </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputNameGraph">Nombre</label>
                      <input type="text" name="name" class="form-control" id="inputNameGraph" placeholder="Nombre" ngModel>
                    </div>
                    <div class="form-group">
                      <label for="inputTypeGraph">Gráfica</label> 
                      <select id="inputTypeGraph" name="idTemplate" class="form-control" ngModel>
                        <option >Elegir...</option>
                        <option [value]="typeGraph[0]" *ngFor="let typeGraph of typeGraphsServer"> {{typeGraph[1]}} </option>
                      </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Crear</button>
                  </form>
            </div>

        </div>
    </div>
</div>

