<div class="container my-5">
        <div class="row">
            <div class="col">
                <h3>Arquitectura </h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum temporibus amet dicta veniam eaque autem officia! Ducimus recusandae facere tenetur deserunt. Laudantium omnis voluptas dolor minima aliquid numquam vel error?</p>
            </div>
            <div class="col">
                <div class="row">
                        <div class="col">
                            <a href="javascript:history.go(-1)" class="btn btn-outline-success mx-1"><i class="fas fa-arrow-left  fa-2x  "></i> <br> Atras</a>
                            <!-- <a [routerLink]="['/ims/available']" class="btn btn-outline-success mx-1"> <i class="fas fa-arrow-left  fa-2x  "></i> <br> Atras</a> -->
                            <a [routerLink]="['/ims/tests/'+arquitecture._id]" class="btn btn-outline-success mx-1"> <i class="fas fa-clipboard-list  fa-2x  "></i> <br> Pruebas</a>
                            <a [routerLink]="['/ims/graphics'+arquitecture._id]" class="btn btn-outline-success mx-1"><i class="fa fa-bar-chart fa-2x"></i> <br> Gráficas</a>
                        </div>
                </div>
            </div>
        </div>
    <div>
        
           

                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                    <th scope="col">VM      </th>
                    <th scope="col">Acciones</th>
                    <th scope="col">Consola</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let vm of vmsCore" >

                        <th scope="row"> {{vm.name}}  </th>
                        <td>
                            
                            <mat-slide-toggle color="primary" (click)="[powerServer(vm._id)]" [checked]=" vm.infoServer.status=='ACTIVE'? 'true':'false'" >Alimentación</mat-slide-toggle>
                            <!-- <button class="btn btn-primary" (click)="[powerServer(vm.id)]">Encender</button> -->
                            <!-- <button type="button" class="btn btn-primary btn-sm mx-1  " data-toggle="button" aria-pressed="false" autocomplete="off">On</button> -->
                            <button class="btn btn-secondary btn-sm mx-1" (click)="[instantServer(vm._id)]">Instantanea</button>
                            <button class="btn btn-secondary btn-sm mx-1" (click)="[returnServer(vm._id)]">Regresar</button>
                            <button class="btn btn-danger btn-sm mx-1" (click)="[deleteServer(vm._id)]">Eliminar</button>
                            <button class="btn btn-warning btn-sm mx-1" id="btnRedimencion{{vm._id}}" (click)="[seeFormEditVm(vm._id)]" >Redimencionar</button>
                            <div class="row" id="divRedimencion{{vm.id}}" style="display:none">
                                <form action="" class="m-1">    
                                    <input class="mx-1" type="number" name="cpu" placeholder="CPU">
                                    <input class="mx-1" type="number" name="ram" placeholder="RAM">
                                    <input class="mx-1" type="number" name="hdd" placeholder="HDD">
                                    <button class="btn btn-primary btn-sm mx-1" (click)="resizeServer(vm._id)">Editar</button>
                                    <button class="btn btn-danger btn-sm mx-1" (click)="hideFormEditVm(vm._id)">Cancel</button>
                                </form> 
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-success" (click)="[consoleServer(vm.infoServer.id)]">Consola</button>
                        </td>
                    </tr>
                </tbody>
                </table>
    </div>
</div>