<div class="container">
    <section class="section contenido">
      <!-- CONTENIDO -->
      <div class="seccion-contenido">
            <div class="region region-content">
              <div id="block-system-main">
                <div>
                  <div class="titulo">Información</div>
                  <p></p>
                  <div class="field field-name-field-resumen-programa field-type-text-long field-label-hidden">
                    <div class="field-items">
                      <div class="field-item even">
                          <div class="info-principal">                              
                            <p>La sección de información presenta las definiciones y conceptos que contribuyen al desarrollo de las pruebas del Telco 4G.
                              La información se divide en las siguientes subsecciones:
                            
                            </p>    
                              
                             <div class="idc-box">                               
                             <!-- <i class="fas fa-list"></i> -->
                             <p class="idc-titulo"> <i class="fas fa-th-list"></i> Subsecciones:</p>
                             <!-- > -->
                             <hr>   
                             <ul class="idc-lista">                                                                   
                                   <li>1. Redes 4G
                                   <ul>
                                    <li><a [routerLink]="['/telcomovil/redmovil']"  routerLinkActive="active" >1.1. Introducción a LTE</a></li>
                                    <li><a [routerLink]="['/telcomovil/protocolosm']"  routerLinkActive="active" >1.2. Arquitectura de protocolos</a></li>
                                   </ul>
                                 </li>                            
                                     <!-- <li>2. Guias</li>
                                     <ul>                                      
                                       <li> 2.1. Guias de usuario</li>
                                       <li>2.2. Guias OAI</li>
                                       <li><a [routerLink]="['/telcomovil/guiasopen']"  routerLinkActive="active">2.3. Guias de OpenStack</a></li>
                                     </ul> -->
                                     <!-- <li>3. Trabajos relacionados</li>      -->                              
                                 </ul>                  
                                </div>
                                <!-- Arquitectura -->  
                                
                          </div>

                          <div>
                           
                          </div>

              </div>
<!-- AQUI -->


            </div>
          </div>
         <p></p>
        </div>
      </div>
    </div>
  </div>
  </section>
</div>  