<div class="container">
    <section class="section contenido">
      <!-- CONTENIDO -->
      <div class="seccion-contenido">
            <div class="region region-content">
              <div id="block-system-main">
                <div>
                  <div class="titulo">Pruebas y Conexiones</div>
                  <p></p>
                  <div class="field field-name-field-resumen-programa field-type-text-long field-label-hidden">
                    <div class="field-items">
                      <div class="field-item even">
                        <p> 
                          

Esta sección contiene una subsección llamada Entorno Centralizado para la realización de pruebas sobre el sistema LTE y una subsección llamda Entorno Remoto para la conexión de forma remota al sistema LTE, estas implementaciones permiten realizar cambios a través de la conexión por medio del sistema de interoperabilidad. 

                         </p>    
                           
              </div>
            </div>
          </div>
         <p></p>
        </div>
      </div>
    </div>
  </div>
  </section>
  
  <div class="cont-first">
      <a routerLink="/telcomovil/escenario1" class="imagen-holder">
        <img src="/assets/telcomovil/img/ESCENARIO1.png" alt="">
      </a>
      <a routerLink="/telcomovil/escenario2" class="imagen-holder">
        <img src="/assets/telcomovil/img/ESCENARIO2.png" alt="">
      </a>
    </div>
  </div>
  
  