<div class="banner">
    <header>
      <app-header4g></app-header4g>
    </header>
  </div>
  <!-- termina el componente header -->
  <div class="container-fluid">
    <div class="row flex-xl-nowrap">
      <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
        <aside id="block-region-side-pre" class="span4 desktop-first-column block-region">
          <!-- <app-asideleft4g></app-asideleft4g> -->
        </aside>
      </div>
  
      <div class="d-none d-xl-block col-xl-2 bd-toc">
        <!-- <app-aside></app-aside> -->
      </div>
  
      <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
        <!-- <router-outlet></router-outlet> -->
      </main>
    </div>
  </div>
  
  <!-- IMAGEN  -->
  <section  class="footer-fondo">
    <!-- <app-contacto4g></app-contacto4g> -->
  </section>
  <!-- TERMINA IMAGEN -->
  
  <!-- footer -->
  <div >
    <!-- <app-footer4g></app-footer4g> -->
  </div>
  