<div class="container my-5">
    
    <form action="">
        <div class="row">
            <div class="col">
                <h5>Información Personal</h5>
            </div>
            <div class="col d-flex justify-content-end">
                <button class="btn btn-primary ">Cambiar</button>
            </div>
        </div>
        <ul class="list-group">
            
            <li class="list-group-item">
                <div class="row">
                    <div class="col">Nombre </div>
                    <div class="col">
                        <!-- <input type="text" placeholder="Pepito"> -->
                        <button class="btn"><i class="fa fa-edit"></i></button>
                        <span>Pepito</span>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col">Email </div>
                    <div class="col">
                        <!-- <input type="text" placeholder="pepito@gmail.com"> -->
                        <button class="btn"><i class="fa fa-edit"></i></button>
                        <span>pepito@gmail.com</span>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col">Contraseña </div>
                    <div class="col">
                        <!-- <input type="text" placeholder="*******">  -->
                        <button class="btn"><i class="fa fa-edit"></i></button>
                        <span>*******</span>
                    </div>
                </div>
            </li>
            
          </ul>

    </form>
</div>