<div class="container">
    <section class="section contenido">
      <!-- CONTENIDO -->
      <div class="seccion-contenido">
            <div class="region region-content">
              <div id="block-system-main">
                <div>
                  <div class="titulo">Guía para la instalación yconfiguración del sistema LTEcentralizado</div>
                  <p></p>
                  <div class="field field-name-field-resumen-programa field-type-text-long field-label-hidden">
                    <div class="field-items">
                      <div class="field-item even">  
                         
                          <p>
                            La instalación llevada a cabo es realizada sobre un único equipo el cual contará 
                            conlos diferentes módulos de OAI, para implementar un escenario con interfaz S1 
                            sobreun mismo equipo.

                          </p>
                         
                             
                        

                           <!-- img -->
                         
                           <br>
                          
                                             
                      
              </div>
            </div>
          </div>
         <p></p>
        </div>
      </div>
    </div>
  </div>
  </section>
</div>  

